@font-face {
  font-family: "CookieRun-Regular";
  src: url("../font/CookieRun-Regular.otf") format("opentype");
}
@font-face {
  font-family: "CookieRun-Bold";
  src: url("../font/CookieRun-Bold.otf") format("opentype");
}
@font-face {
  font-family: "CookieRun-Black";
  src: url("../font/CookieRun-Black.otf") format("opentype");
}
