@font-face {
  font-family: 'CookieRun-Regular';
  src: url('../font/CookieRun-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'CookieRun-Bold';
  src: url('../font/CookieRun-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'CookieRun-Black';
  src: url('../font/CookieRun-Black.otf') format('opentype');
}
.swal2-popup {
  font-size: 1rem !important;
  width: 400px !important;
  height: 270px;
  box-shadow: 0 2px 4px rgba(68, 68, 68, 0.5);
}
.swal2-title {
  font-family: 'CookieRun-Regular' !important;
  color: #5c5c5c !important;
  font-size: 20px !important;
}
.swal2-content {
}
.swal2-confirm {
  font-family: 'CookieRun-Regular' !important;
}
.swal2-html-container {
  font-family: 'CookieRun-Regular' !important;
  caret-color: transparent;
  user-select: none;
  pointer-events: none;
  overflow: hidden;
  display: flex !important;
  flex-direction: column;
  align-items: center;
}
